#### Example: if else and for loops

    • We will create 3 bins from the 'Price' variable using If Else and For Loops
    • The binned values will be stored as classes in a new column, 'Price Class'
    • Hence, inserting a new column

In [1]:
import pandas as pd
cars_data = pd.read_csv('Toyota.csv')

In [2]:
cars_data1 = cars_data.copy(deep=True)   #creating deep copy

In [3]:
cars_data1.head()

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [4]:
cars_data1.insert(10,"Price_Class","")

In [5]:
cars_data1.head(3)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Price_Class,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,,1165

### Example: if else and for loops

• A for loop is implemented and the observations are separated into three categories:
o Price
    • up to 8450
    • between 8450 and 11950
    • greater than 11950
    
• The classes have been stored in a new column 'Price_Class'

In [6]:
for i in range(0,len(cars_data1['Price']),1):
    if(cars_data1['Price'][i]<=8450):
        cars_data1['Price_Class'][i]="Low"
    elif(cars_data1['Price'][i]>11950):
        cars_data1['Price_Class'][i]="High"
    else:
        cars_data1['Price_Class'][i]="Medium"

C:\Users\HP\AppData\Local\Temp/ipykernel_2516/3932946102.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data1['Price_Class'][i]="High"
C:\Users\HP\AppData\Local\Temp/ipykernel_2516/3932946102.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data1['Price_Class'][i]="Low"
C:\Users\HP\AppData\Local\Temp/ipykernel_2516/3932946102.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data1['Price_Class'][i]="Medium"

### Example: while loop

• A while loop is used whenever you want to execute statements until a specific condition is violated

• Here a while loop is used over the length of the column Price_Class ’ and an if else loop is used to bin the values and 
    store it as classes

In [7]:
i=0
while i<len(cars_data1['Price']):
    if(cars_data1['Price'][i]<=8450):
        cars_data1['Price_Class'][i]="Low"
    elif(cars_data1['Price'][i]>11950):
        cars_data1['Price_Class'][i]="High"
    else:
        cars_data1['Price_Class'][i]="Medium"
    i=i+1

C:\Users\HP\AppData\Local\Temp/ipykernel_2516/4235443117.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data1['Price_Class'][i]="High"
C:\Users\HP\AppData\Local\Temp/ipykernel_2516/4235443117.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data1['Price_Class'][i]="Low"
C:\Users\HP\AppData\Local\Temp/ipykernel_2516/4235443117.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars_data1['Price_Class'][i]="Medium"

In [8]:
cars_data1.head(3)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Price_Class,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,High,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,High,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,High,1165

Series.value_counts() returns series containing count of unique values

In [9]:
cars_data1['Price_Class'].value_counts()

Medium    751
Low       369
High      316
Name: Price_Class, dtype: int64

### Functions in Python

• A function accepts input arguments and produces an output by executing valid commands present in the function

• Function name and file names need not be the same

• A file can have one or more function definitions

• Functions are created using the command def and a colon with the statements to be executed indented as a block

• Since statements are not demarcated explicitly, It is essential to follow correct indentation practises

def function_name (parameters):
    statements

### Example: functions

• Converting the Age variable from months to years by defining a function

• The converted values will be stored in a new column, Age_Converted

• Hence, inserting a new column

In [10]:
cars_data1.insert(11,"Age_converted", 0)

### Example: functions

• Here, a function c_convert has been defined

• The function takes arguments and returns one value

In [12]:
def c_convert(val):
    val_converted = val/12
    return val_converted

In [13]:
cars_data1["Age_converted"]=c_convert(cars_data1["Age"])
cars_data1["Age_converted"]=round(cars_data1["Age_converted"],1)

### Example: function with multiple inputs and outputs

• Converting the Age variable from months to years and getting kilometers (KM) run per month

• The converted values of kilometer will be stored in a new column, km_per_month

• Hence, inserting a new column

In [14]:
cars_data1.insert(12,"km_per_month",0)

### Example: function with multiple inputs and outputs

• A multiple input multiple output function c_convert has been defined

• The function takes in two inputs

• The output is returned in the form of a list

In [15]:
def c_convert(val1, val2):
    val_converted = val1/12
    ratio = val2/val1
    return [val_converted,ratio]

### Example: function with multiple inputs and outputs

• Here, Age and KM columns of the data set are input to the function

• The outputs are assigned to 'Age_Converted' and 'km_per_month'

In [16]:
cars_data1["Age_converted"], cars_data1["km_per_month"] = \
c_convert(cars_data1['Age'], cars_data1['KM'])

TypeError: unsupported operand type(s) for /: 'str' and 'float'